<div class="main-container">
  <div class="container">
    <div class="filter">
      <input [(ngModel)]="searchQuery" (keyup)="filterData()" type="text" class="form-input"
        placeholder="filtery by name email city country">
    </div>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filteredData">
          <td data-label="Name">{{data.name}}</td>
          <td data-label="Age">{{data.email}}</td>
          <td data-label="Age">{{data.city}}</td>
          <td data-label="Job">{{data.country}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>